body {
    margin: 0;
    padding: 0;
    background-color: #36393e;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}

.header {
    background-color:   #424549;
    width: 100%;
    height: 10vh;
    font-size: 6vh;
    align-content: center;
    text-align: center;
    box-shadow: 0px 0px 5px gray;
    text-shadow: 0px 0px 3px gray;
}

.welcome {
    text-align: center;
    font-size: 3vw;
    text-shadow: 0px 0px 3px gray;
}

.gridContainer {
    margin-top: 5vw;
}

.gridContainer2 {
    margin-left: 40vw;
    margin-top: -36vw;
}

.bg1 {
    width: 20vw;
    height: 36.1vw;
    background-color:   #424549;
    border-radius: 2vw;
    margin-left: 15vw;
    margin-right: 5vw;
    box-shadow: 0px 0px 5px gray;
}

.bg2 {
    width: 20vw;
    height: 17.5vw;
    background-color:   #424549;
    border-radius: 2vw;
    box-shadow: 0px 0px 5px gray;
    margin-bottom: 1vw;
}

.bg3 {
    width: 20vw;
    height: 17.5vw;
    background-color:   #424549;
    border-radius: 2vw;
    box-shadow: 0px 0px 5px gray;
}

.bg4 {
    width: 20vw;
    height: 36.1vw;
    background-color:   #424549;
    border-radius: 2vw;
    margin-left: 65vw;
    margin-top: -36vw;
    box-shadow: 0px 0px 5px gray;
}

.secondGrid {
    width: 100%;
    height: 15vw;
    align-content: center;
}

.staff1 {
    position: relative;
    background-color:   #424549;
    height: 10vw;
    width: 10vw;
    border-radius: 5vw;
    margin-left: 28vw;
    box-shadow: 0px 0px 5px gray;
}

.staff2 {
    position: relative;
    background-color:   #424549;
    height: 10vw;
    width: 10vw;
    border-radius: 5vw;
    margin-left: 39.5vw;
    margin-top: -10vw;
    box-shadow: 0px 0px 5px gray;
}

.staff3 {
    position: relative;
    background-color:   #424549;
    height: 10vw;
    width: 10vw;
    border-radius: 5vw;
    margin-left: 51vw;
    margin-top: -10vw;
    box-shadow: 0px 0px 5px gray;
}

.staff4 {
    position: relative;
    background-color:   #424549;
    height: 10vw;
    width: 10vw;
    border-radius: 5vw;
    margin-left: 63vw;
    margin-top: -10vw;
    box-shadow: 0px 0px 5px gray;
}

.thirdGrid {
    margin-bottom: 10vw;
}

.botInfo {
    width: 20vw;
    height: 20vw;
    background-color:   #424549;
    border-radius: 2vw;
    margin-left: 15vw;
    margin-right: 5vw;
    box-shadow: 0px 0px 5px gray;
}

.AboutUs {
    width: 40vw;
    height: 20vw;
    background-color:   #424549;
    border-radius: 2vw;
    box-shadow: 0px 0px 5px gray;
    margin-left: 40vw;
    margin-top: -20vw;
}

.footer {
    margin-bottom: -0vw;
    width: 100%;
    height: 10vw;
    background-color:#424549;
    box-shadow: 0px 0px 5px gray;
}